@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to Book-It</h1>
<hr />

<h2>Book Gallery</h2>
<hr />

<cache expires-after="@TimeSpan.FromSeconds(10)" expires->
    @await Component.InvokeAsync("BookList")
</cache>