@{
    ViewData["Title"] = "Basket";
}

<h2>Basket</h2>
<hr />

<div id="app">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Price</th>
                <th>Count</th>
                <th>Sub Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(book,index) in books">
                <td>{{index+1}}</td>
                <td>{{book.Name}}</td>
                <td>$ {{book.Price}}</td>
                <td>{{book.Count}}</td>
                <td>$ {{book.Price*book.Count}}</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="4" class="text-right">Total</td>
                <td class="text-left">$ {{total}}</td>
            </tr>
        </tbody>
    </table>

    <button v-on:click="sendOrder" class="btn btn-primary btn-lg">Order now</button>
</div>

@section scripts{
<script src="~/lib/vue/vue.js"></script>

<script>

    var app = new Vue({
        el: "#app",
        data: {
            books: [],

        },
        mounted: function () {
            this.getBooks();
        },
        computed: {
            total: function () {
                var result = 0;
                for (var i = 0; i < this.books.length; i++) {
                    result += this.books[i].Price * this.books[i].Count;
                }
                return result;
            }
        },
        methods: {
            sendOrder: function () {
                //alert("Ordering!");
                var vm = this;

                console.log(vm.books);

                $.ajax({
                    url: "/order/basket",
                    dataType : 'json',
                    //contentType: "application/json",
                    data: { "books": JSON.stringify(vm.books) },
                    method: "POST"
                })
                    .done(function (data) {
                        console.log("Success")
                    }).fail(function () {
                        console.log("fail")
                    }).always(function () {
                        console.log("End")
                    });

            },
            getBooks: function () {
                var basketData = localStorage.getItem('basket');
                var basket = JSON.parse(basketData);
                this.books = basket.books;
            }
        }
    });
</script>
}